<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518637087652-6jvi15vkqtu3b954oq6gf9jstvsn21ak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518637087652-6jvi15vkqtu3b954oq6gf9jstvsn21ak</string>
	<key>API_KEY</key>
	<string>AIzaSyB2C9EWuRqyjUjdNtSvy2BBG4nyMHeZ11A</string>
	<key>GCM_SENDER_ID</key>
	<string>518637087652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Bright-Summit-Plc..InstagramApp</string>
	<key>PROJECT_ID</key>
	<string>myinstagram-1ae71</string>
	<key>STORAGE_BUCKET</key>
	<string>myinstagram-1ae71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518637087652:ios:e38942a0a37d2f1b232f31</string>
</dict>
</plist>